.u-center-text {text-align: center !important; }
.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {margin-bottom: 4rem !important;}
.u-margin-bottom-big {margin-bottom: 8rem !important; }
.u-margin-bottom-huge {margin-bottom: 12rem !important; }

.u-margin-top-big {margin-top: 8rem !important;}
.u-margin-top-huge {margin-top: 10rem !important;};

.u-margin-left-small {margin-left: 1.5rem !important;};
.u-margin-left-medium {margin-left: 4rem !important;};
.u-margin-left-big {margin-left: 8rem !important;};

.primary-text {
    color: $color-primary
}
.primary-btn {
    background-color: $color-primary !important;
    color: white !important;

    &--big{
        padding: 1rem;
    }
}

.logo-font-size {
    font-size: 2rem;
}
.default-font-size {
    font-size: 2rem;
}
.remove-link{
    text-decoration: none;
}

.small-font-size{
    font-size: 1rem;
}

.medium-font-size{
    font-size: 1.5rem;
}
.huge-font-size{
    font-size: 3rem;
}